@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}



<div>
   
    <hr />
    <div class="row">
        <div class="col-md-3">
            <h1 class="text-center font-weight-bold">      Min side</h1>
            <img class="img-start" src="/img/profil.png" alt="Annonser" width="314" height="226"/>
            <partial name="_ManageNav"/>
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
