@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}



<div>
    <br/>
    <div class="row" >
        <div class="col-md-3 text-center" >
            <h1 class="font-weight-bold">      Min side</h1>
            <img class="img-profil" src="/img/profil.png" alt="Annonser" width="314" height="226" />
            <br/>
            
                <div class="nav-item">
                    <form id="logoutForm" 
                          style=" display: -webkit-inline-box;"
                          class="text-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Start", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logg ut</button>
                    </form>
                </div>
            <partial name="_ManageNav"/>
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
