@{
    ViewData["Title"] = "Intro";
}



    <div class="text-center">
        <br />
        <br />
        <br />
        <img src="/img/onlinelogomaker-082120-1351-5578.png" alt="Logo" width="314" height="226">
        <br />
        <br />
        <h2>Det digitale hittegodskontoret</h2>
        <br />
        <p-start>
           Mistet og funnet på ett sted
        </p-start>
        <br />
        <br />
        <a class="btn btn-primary" asp-action="OnBoarding">Finn ut mer</a>

    </div>