@{
    ViewData["Title"] = "Landing Page";
}

<div class="text-center" style="display: table-cell">     
    
    
    <br/>
    <br/>
    <h1 class="text-center" >Om Fant</h1>
    
    <br/>
    <h2 class="text-left mx-4"style="display: block">Hva er egentlig Fant?</h2>
    <br/>
    <p class="text-left mx-4">
        Fant er en app som har som mål å gjenforene alle savnede og funnede eiendeler med eierne sine.
        <br/>
        Det er det digitale hittegodskontoret. Fant kutter ut alle mellom ledd og bidrar til å effektivisere prossesen.
        <br/>
        Fremtiden ser altså lys ut for Fant, som har som mål å være Norges ledende tjeneste for savnede og funnede eiendeler! Hvis du har mistet eller funnet en eiendel,
        vil vi mer enn gjerne hjelpe deg med å gjenforene eiendelen med eierne sine!
    </p>  
    <br/>
    <h2 class="text-left mx-4">Hva burde jeg tenke på når jeg finner noe av verdi?</h2>
    <br/>
    <p class="text-left mx-4">
        Om en bruker sier det er deres eiendel. Er det viktig å stille noen spørsmål for å verifisere, slik som å beskrive hvordan det ser ut, hvor de mistet det og når og om det er noe særegent ved eiendelen.
        <br />
        Finner du en mobiltelefon er det lurt å be brukeren om å logge inn på telefonen. Før man leverer den over.
        <br />
        Dersom eiendelen er av høyverdi og du ikke klarer å verifisere oppfordrer vi deg til å kontakt politiet.

    </p> 
    <br/>
    <h2 class="text-left mx-4" style="display: block">Hjelp og kontant</h2>
    <br/>
    <p class="text-left mx-4">
        Opplever du tekniske problemer på siden vår eller har du kanskje problemer med å opprette en annonse?
        Uansett hva du lurer på eller har problemer med, kan du alltid ta kontakt med oss på support@fant.no så hjelper vi deg så fort vi kan!

    </p> 
</div>
   
       


