@{
    ViewData["Title"] = "Landing Page";
}

<div class="text-center" style="display: table-cell">     
    
    
    <br/>
    <br/>
    <h1 class="text-center" >Om Fant</h1>
    
    <br/>
    <h2 class="text-left mx-4">Hva er egentlig Fant?</h2>
    <br/>
    <p class="text-left mx-4">
        Fant er en app som har som mål å gjenforene alle savnede og funnede eiendeler med eierne sine. 
        <br/>
        <br/>
        Det er det digitale hittegodskontoret. Fant kutter ut alle mellom ledd og bidrar til å effektivisere prossesen.
        <br/>
        <br/>
        Fremtiden ser altså lys ut for Fant, som har som mål å være Norges ledende tjeneste for savnede og funnede eiendeler! Hvis du har mistet eller funnet en eiendel,
        vil vi mer enn gjerne hjelpe deg med å gjenforene eiendelen med eierne sine!
    </p>  
    
    <h2 class="text-left mx-4">Hva burde jeg tenke på når jeg finner noe av verdi?</h2>
    <br/>
    <p class="text-left mx-4">
        ------
        <br/>
    -----------
        <br/>
        -----------
    </p> 
</div>
   
       


