@{
    ViewData["Title"] = "Landing Page";
}

<div class="text-center">
    
    <br/>
    <br/>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hvordan opprette annonse?</h4>
            <p class="card-text">Some example text. Some example text.</p>
            <a href="#" class="card-link">Les mer </a>
            
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Om Fant </h4>
            <p class="card-text">Some example text. Some example text.</p>
            <a href="#" class="card-link">Les mer </a>
          
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Kontakt</h4>
            <p class="card-text">Some example text. Some example text.</p>
            <a href="#" class="card-link">Les mer</a>
           
        </div>
    </div>
       
</div>

