@{
    ViewData["Title"] = "OnBoarding";
}



<div class="text-center">

    <img src="/img/Add.png" alt="Annonser" width="314" height="226"/>
    <br/>
    <br/>
    <h2>Rapporter  funnede og savnede eiendeler</h2>
    <br/>
    <p>En eiendel som er funnet
        eller savnet kan enkelt rapporteres 
        ved å opprette annonse</p>
    <br/>
    <a class="btn btn-primary" asp-action="OnBoarding1">Neste</a>
</div>

