@{
    ViewData["Title"] = "OnBoarding";
}



<div class="text-center">
    <br/>
    <br/>
    <br/>
    <img class="img-start" src="/img/1.png" alt="Annonser" width="314" height="226"/>
    <br/>
    <br/>
    <h2>Rapporter  funnede og savnede eiendeler</h2>
    <br/>
    <p-start>En eiendel som er funnet
        eller savnet kan enkelt rapporteres 
        ved å opprette annonse</p-start>
    <br/>
    <br/>
    <a class="btn btn-primary" asp-action="OnBoarding1">Neste</a>
</div>

