@{
    ViewData["Title"] = "OnBoarding1";
}



    <div class="text-center">

        <img src="/img/png-transparent-computer-icons-google-maps-map-logo-desktop-wallpaper-map.png" alt="Map" width="314" height="226" />
        <br />
        <br />
        <h2>Søk I kart</h2>
        <br />
        <p>
            Søk etter funnede eller mistede annonser.
            Annonser I nærheten av din plassering vil
            bli vist på kartet.
        </p>
        <a class="btn btn-primary" asp-action="OnBoarding2">Neste</a>
    </div>