@{
    ViewData["Title"] = "OnBoarding2";
}



<div class="text-center">

    <img class="img-start" src="/img/chat.PNG" alt="Map" width="314" height="226" />
    <br />
    <br />
    <h2>Meldinger</h2>
    <br />
    <p>
        Kontakt andre brukere 
        med melding funksjon.
    </p>
    <a class="btn btn-primary" asp-action="Start">Neste</a>
</div>