@{
    ViewData["Title"] = "OnBoarding";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div id="index-gallery">
<div class="item">
    <img src="/img/Add.png" alt=""/>
    <br/>
    <br/>
    <h2>Rapporter  funnede og savnede eiendeler</h2>
    <br />
    <p>En eiendel som er funnet
        eller savnet kan enkelt rapporteres 
        ved å opprette annonse</p>
</div>
</body>
</html>