@{
    ViewData["Title"] = "Start";
}

    <div class="text-center">
        
        <br/>
        <br/>
        <br/>

        <img src="/img/onlinelogomaker-082120-1351-5578.png" alt="Logo" width="314" height="226">
        <br />
        <br />
        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Logg inn</a>
        <br />
        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Registrer deg</a>
        <br />
        <a id="go-no-password" asp-area="" asp-controller="Annonses" asp-action="Index">Gå videre uten å logge inn</a>

       
    </div>


