@model FANT2.ViewModels.CreateAnnonse


@{
    ViewData["Title"] = "Create";
}

<h1>Ny Annonse</h1>

<hr />


<!-- CAMERA -->

<br />
<div class="col d-flex justify-content-center">
    <div id="Picture">
            <div class="panel-body" style="overflow: hidden;">

                @* <div id="my_camera" ></div> *@
                <video autoplay id="my_camera" class="videoInsert rounded"></video> 

                <!-- Saving image to hidden field -->
                <input type="hidden" id="image_uri" name="ImageUri" />


                <!-- A button for taking snaps -->
                <form>
                    <input type="button" class="btn btn-success" value="Ta Bilde"  onClick="take_snapshot()">
                    <input id="new" type="button" class="btn btn-success" value="Ta Nytt" onClick="reset_image()" style="visibility: hidden;">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- VALUE INFO -->
<div class="d-flex justify-content-center col">
    <div class="alert alert-danger col" role="alert" id="ValueInfo" style="height:250px; display: none;" >
        <h4>Verdifulle funnede gjenstander må identifiseres av eier ved beskrivende svar på annonse før utlevering, og vil defor pubiseres uten bilde.</h4>
    </div>
</div>

<div class="col-md-2">    </div>



@*
<partial name="/Views/Camera/Capture.cshtml" /> *@

<div class="row">
    <div class="col px-5">
        <form asp-action="Create">
            <input asp-for="Image" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <p class=" class-label">Kategori</p>
                <select asp-for="CategoryId" asp-items="Model.Categories"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="border-bottom"></div>
            <div>
                <div class="cnt">
                    Annonse Type
                    <br>
                    <!-- FORSLAG -->
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-success checked active @(Model.TypeAnnonse ? "active":"")">
                            <input type="radio" name="options" id="option1" autocomplete="off"> Funnet
                        </label>
                        <label class="btn btn-danger @(Model.TypeAnnonse ? "active" :"")">
                            <input type="radio" name="options" id="option2" autocomplete="off"> Savnet
                        </label>
                    </div>
                    @* <div class="radio-jquery-ui">@Html.RadioButtonFor(model => model.TypeAnnonse, "false") <label>Funnet</label></div>
                    <div class="radio-jquery-ui">@Html.RadioButtonFor(model => model.TypeAnnonse, "true") <label>Savnet</label></div> *@
                </div>
            </div>

            <div class="border-bottom p-1"></div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" asp-for="IsValuable" onclick="ToggleDiv(this, 'Picture', 'ValueInfo')">
                <label>Er gjenstand verdifull?</label>
            </div>
            <div class="border-bottom p-2"></div>


            <div class="form-group">
                <label asp-for="Title" class="control-label">Tittel</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Beskrivelse</label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">Dato Mistet/Funnet</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <input type="button" class="btn btn-primary btn-sm" value="Click to Display Map" onclick="DisplayGoogleMap()" />  

        <input id="pac-input" class="controls" type="text" placeholder="Search Box" />
         <div id="map" style="width:100%;height:400px;"></div>  
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<!-- First, include the Webcam.js JavaScript Library -->
<script src="~/webcamjs/camera.js"></script>

<!-- Configure a few settings and attach camera -->

<script language="JavaScript">
    Camera.attach('my_camera');

    function take_snapshot() {
        Camera.capture();
        document.getElementById('new').style.visibility = "visible";
    }
    function reset_image(){
        Camera.playVideo();
    }
</script>


<!-- Code contol visability -->

<script language="JavaScript">

    function ToggleDiv(checkbox, hide_id, show_id)
    {
        var toggle_object_hide = document.getElementById(hide_id);
        var toggle_object_show = document.getElementById(show_id);

        if (checkbox.checked) // you don't need the == true
        {
            toggle_object_hide.style.cssText = 'display:none !important';
            //toggle_object_hide.style.display = "none";
            toggle_object_show.style.cssText = 'display:block !important';
            //toggle_object_show.style.display = "block";

        }
        else
        {
            toggle_object_hide.style.cssText = 'display:block !important';
            //toggle_object_hide.style.display = "block";
            toggle_object_show.style.cssText = 'display:none !important';
            //toggle_object_show.style.display = "none";

        }
    }
</script>

<!-- Google maps -->
<script src="~/googleMaps/googleMaps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFRFFoSKFICLoH-f--RW2EHqA2OzwVLE4&libraries=places"></script> 

<script type="text/javascript">  
    function DisplayGoogleMap()
</script>  

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
