@model FANT2.Models.Annonse

@{
    ViewData["Title"] = "Delete";
}

<br/>
<a style="color: black; float: left" asp-action="Index"><i class="fa fa-arrow-left" style="color: black; font-size: large; margin-top: 30px; margin-left: 20px;"></i><br /> </a>
<br/>
<h1 class="text-center">Slett annonse</h1>

<div>
    <hr />
    <dl class="col">
        <dt class="col-sm-2">
            <br/>
            <p style="font-weight: bold">Tittel</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            <p style="font-weight: bold">Beskrivelse</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            <p style="font-weight: bold">Dato</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
    <br/>
    <form style="margin-left: 20px;"asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Slett annonse" class="btn btn-danger" /> 
       
    </form>
</div>
