/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    background-color: #F0D017;
    font-family: 'Poppins', sans-serif;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: white;
}

.btn-primary {
    color: black;
    border-color: black;
    display: flex;
    padding: 10px 30px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #f0d017;
    border-style: solid;
    border-radius: 30px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: black;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/* Menu styles
-------------------------------------------------- */

.nav-item .nav-link {
    font-size: 0.7rem;
    font-weight: bold;
    background-color: #f0d017;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-item {
    font-size: 40px;
}


.item {
    width: 200px;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 10px;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#index-gallery {
    width: 465px;
    display: flex;
    align-items: center;
    justify-content: center;
}
----------------------------------------
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    position: relative;
    color: black;
    padding-top: 20px;
    font-weight: bold;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    position: relative;
    color: black;
    padding-top: 20px;
    font-weight: bold;
}
.p-start{
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    font-weight: bold;
}

.card {
    border-radius: 20px;
}

.fa{
    color: #f0d017
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-start {
    padding: 15px;
    border-radius: 40px;
   
}

.img-profil {
    align-items: center;
    justify-content: center;
}

.label {
    color: black;
    border-color: black;
    display: flex;
    padding: 10px 30px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    align-items: center;
    justify-content: center
}

.form-control {
    color: black;
    border-color: black;
    display: flex;
    padding: 10px 30px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    align-items: center;
    justify-content: center
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}
#input {
    background-color: white;
}

hr {
    background-color: black;
    font-weight: bold;
}

.border-bottom {
    background-color: black;
    font-weight: bold;
}
.card-link {
    color: black;
}
#update-profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.class-label {
    font-weight: bold;
}
.border-bottom p-1 {
    font-weight: bold;
    color: black;
}

.border-bottom p-2 {
    font-weight: bold;
    color: black;
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-success {
    background-color: white;
    border-color: black;
    color: black;
    border-radius: 20px; 


}

btn-success:hover {
    color:#f0d017;
    background-color:white ;
    border-color: black;
}
#my_camera {
    
    border-radius: 30px;
    border: 2px solid black;
}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group-katogori {
    display: inline;
}
.button, input {
    border-radius: 50px;
    background-color: white;
    display: block;
}

.text-center valid {
    border-radius: 50px;
    background-color: white;
    display: block;
    border-color: black;
}
#span {
    border-radius: 50px;
    background-color: white;
    display: block;
}
#select {
    border-radius: 50px;
    background-color: white;
    display: block;
}
#CategoryId {
    border-radius: 50px;
    background-color: white;
    display: grid;
}

#TypeAnnonse {
    margin-right: 30px;
}
.radio-jquery-ui {
    display: flex;
    align-items: baseline;
}
.class-label {
    margin-left: 10px;
}

form-create {
    display: grid;
}

.btn-primary-create {
    color: white;
    border-color: black;
    padding: 10px 30px;
    background-color: #008000;
    border: 2px solid black;
    border-radius: 20px;
 
}
.søk {
    display: flex;
    justify-content: space-evenly;
}


.button, select {
    border-radius: 50px;
    background-color: white;
    display: grid;
}

.btn-primary::after {
    color: #9555af;
    border-color: currentColor;
    background-color: white;
} 